@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    background-color: #17181E;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
.screen_container {
    display: flex;
    flex-direction: column;
    background-color: #17181E;
    min-height: 100vh;
}
.scroll-while {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    overscroll-behavior: contain;
    touch-action: pan-y;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll-x {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll-x::-webkit-scrollbar {
    width: 0; height: 0;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}