@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    background-color: #17181E;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
.screen_container {
    display: flex;
    flex-direction: column;
    background-color: #17181E;
    min-height: 100vh;
}
.scroll-x {
    display: flex;              /* елементи в ряд */
    overflow-x: auto;           /* вмикаємо горизонтальний скрол */
    overflow-y: hidden;
    white-space: nowrap;        /* якщо діти inline/inline-block */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE/старий Edge */
}
.scroll-x::-webkit-scrollbar {
    width: 0; height: 0;        /* Chrome/Safari */
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}