/* ========== GRAPHIK ========== */

@font-face {
    font-family: "Graphik";
    font-weight: 900;
    font-style: normal;
    src: url("./graphik/Graphik-Black.otf") format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 900;
    font-style: italic;
    src: url("./graphik/Graphik-BlackItalic.otf") format("opentype");
}

@font-face {
    font-family: "Graphik";
    font-weight: 700;
    font-style: normal;
    src: url("./graphik/Graphik-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 700;
    font-style: italic;
    src: url("./graphik/Graphik-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Graphik";
    font-weight: 200;
    font-style: normal;
    src: url("./graphik/Graphik-Extralight.otf") format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 200;
    font-style: italic;
    src: url("./graphik/Graphik-ExtralightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Graphik";
    font-weight: 300;
    font-style: normal;
    src: url("./graphik/Graphik-Light.otf") format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 300;
    font-style: italic;
    src: url("./graphik/Graphik-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Graphik";
    font-weight: 500;
    font-style: normal;
    src: url("./graphik/Graphik-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 500;
    font-style: italic;
    src: url("./graphik/Graphik-MediumItalic.otf") format("opentype");
}

@font-face {
    font-family: "Graphik";
    font-weight: 400;
    font-style: normal;
    src: url("./graphik/Graphik-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 400;
    font-style: italic;
    src: url("./graphik/Graphik-RegularItalic.otf") format("opentype");
}

@font-face {
    font-family: "Graphik";
    font-weight: 600;
    font-style: normal;
    src: url("./graphik/Graphik-Semibold.otf") format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-weight: 600;
    font-style: italic;
    src: url("./graphik/Graphik-SemiboldItalic.otf") format("opentype");
}



/* ========== INTER ========== */

@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    src: url("./Inter/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url("./Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    src: url("./Inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url("./Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    src: url("./Inter/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    src: url("./Inter/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 200;
    font-style: normal;
    src: url("./Inter/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 100;
    font-style: normal;
    src: url("./Inter/Inter-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    src: url("./Inter/Inter-Black.ttf") format("truetype");
}